<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body class="align-item-center">
  <h1>Verification Code</h1>
  <p>Your verification code is: <b><%= @verification_code %></b>.</p>
  </body>
</html>