/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "jquery-ui.css";




 .pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
  }
  .pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
  }
  .dropdown {
    position: relative;
  }
  .dropdown-menu {
    display: none;
    position: absolute;  // Use absolute positioning
    top: 100%;          // Position the dropdown below the button
    left: 0;            // Align the left edge with the button
    z-index: 1000;      // Ensure the dropdown is above other elements
    transition: display 0.3s ease;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .card {
    margin-bottom: 20px; /* Adjust the value based on your preference */
  }

  
  .back-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}
.back-button::before {
    content: '\2190 '; /* Unicode character for left arrow */
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

a{
    text-decoration: none;
}

.size-buttons {
  display: flex;
}

.size-button {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.size-button.btn {
  color: #6faef3;
  background-color: #ffffff;
  border-color: #b8c0c5;
}

.size-button:hover {
  color: #495057;
  background-color: lightgray;
  border-color: blue;
}